body {
  left: 0;
  right: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  text-align: center;
  background-color: #01579b; 
  margin: 15px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 15px black;
  padding: 5px;
  margin-bottom: 30px;
}

.title h1 {
  font-size: 36px; 
  margin: 5px 0; 
}

.image img {
  width: 95vw;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  display: flex;
  border: 5px solid #01579b;
  border-radius: 2%;
  box-shadow: 0 4px 15px black;
  margin-bottom: 30px;
}

.buttons{
  justify-content: space-around;
  display: flex;
  padding-bottom: 20px;
}

.buttons button {
  margin: 0;
  flex: 0 0 auto;
}

.button {
  border-radius: 30px;
  border: 5px solid #01579b;
  box-shadow: 0 4px 10px black;
  background-color: #01579b;
  font-size: 100%;
  margin-bottom: 20px;
  color: white;
  width: 20vw;
  padding: 1vw;
  font-weight: 800;
}

.explanation {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: 5px solid #01579b;
  box-shadow: 0 4px 10px black;
  background-color: #01579b;
  color: white;
  font-size: 20px;
  padding: 20px;
}

.Spinner {
  justify-content: center;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .explanation {font-size: 14px; width: 95%;}
  .title h1 {font-size: 25px;}
  
  } 


