.contactform {
  margin-left: 20%;
  margin-top: 5%;
  width: 75vh;
  height: 70vh;
  padding-left: 3%;
  padding-top: 2%;
  outline: solid;
  border-radius: 5%;

  background-color: #1565c0;
  color: #fff;
}

input {
  margin: 2vh;
}
.comment-input {
  
  font-size: 1.5rem;
  width: 60vh;
  height: 25vh;
  padding: 10px; 
  vertical-align: top;
  resize: none; 
  text-align: left;

  
}
.inputText {
  width: 350px;
  height: 2rem;
  font-size: 1.5rem;

}

label{
  font-size: 1.5rem;
}
