@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');

*{
    font-family: 'Fredoka', sans-serif;
}

body::before {
    content: "";
    background: url('../src/assets/Background.jpg') center/cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5; 
}

#movingImage {
    max-width: 100px;
}

